<div class="row">
    <div class="col">
        <h1 class="fw-bold" i18n>
            Feature request
        </h1>

        <div>
            <p i18n>At Alunea, we're always open to new ideas and suggestions from our users. Your feedback plays a crucial role in shaping the future of our platform.</p>
            <p i18n>Whether it's a small tweak or a groundbreaking feature, we want to hear from you. No idea is too big or too small!</p>
            <p i18n>Please take a moment to send us a message with a feature request. Our team will review your submission carefully and consider it for future updates.</p>
            <p i18n>Thank you for being a valued member of our community, and thank you for helping us continue to improve!</p>
            <p class="mt-5">
                <a mat-flat-button color="primary" href="mailto:support&#64;alunea.io" class="mb-1" i18n>Request a feature</a>
            </p>
        </div>
    </div>
</div>
