<ng-container *ngIf="step === STEP_INIT">
  <div class="row">
    <div class="col text-center" i18n>
      Password restore
    </div>
  </div>
  <form [formGroup]="passwordResetInitForm">
    <div class="row mt-3">
      <mat-form-field>
        <mat-label i18n>Email</mat-label>
        <input type="email" matInput [formControl]="emailFormControl">
        @if (
          (emailFormControl.hasError('email') || emailFormControl.hasError('pattern')) &&
          !emailFormControl.hasError('required')
        ) {
        <mat-error i18n>Please enter a valid <strong>email</strong> address</mat-error>
        }
        @if (emailFormControl.hasError('required')) {
        <mat-error i18n>Please enter an <strong>email</strong></mat-error>
        }
      </mat-form-field>
    </div>
    <div class="row mt-3">
      <div class="col">
        <button mat-flat-button color="primary" type="submit" class="w-100" [disabled]="isSubmitButtonDisabled" (click)="onPasswordResetInitFormSubmit()" i18n>Restore</button>
      </div>
    </div>
  </form>

  <div class="row mt-3" *ngIf="step === STEP_INIT">
    <div class="col d-flex align-items-center justify-content-end">
      <div i18n>Forgot email ?</div>
      <div class="ms-2">
        <a mat-button color="primary" href="mailto:support&#64;silvermail.me">support&#64;silvermail.me</a>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="step === STEP_RESET">
  <div class="row">
    <div class="col text-center" i18n>
      Password reset
    </div>
  </div>
  <form [formGroup]="passwordResetForm">
    <div class="row mt-3">
      <mat-form-field>
        <mat-label i18n>Password</mat-label>
        <input type="password" matInput [formControl]="passwordFormControl">
        @if (passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('required')) {
        <mat-error i18n><strong>Password</strong> must be at least 8 characters long</mat-error>
        }
        @if (passwordFormControl.hasError('maxlength') && !passwordFormControl.hasError('required')) {
        <mat-error i18n><strong>Password</strong> must not exceed 100 characters in length</mat-error>
        }
        @if (passwordFormControl.hasError('required')) {
        <mat-error i18n>Please enter a <strong>password</strong></mat-error>
        }
      </mat-form-field>
    </div>
    <div class="row mt-3">
      <div class="col">
        <button mat-flat-button color="primary" type="submit" class="w-100" [disabled]="isSubmitButtonDisabled" (click)="onPasswordResetFormSubmit()" i18n>Set password</button>
      </div>
    </div>
  </form>
</ng-container>

<div class="row mt-3">
  <div class="col d-flex align-items-center justify-content-end">
    <div i18n>Remember password ?</div>
    <div class="ms-2">
      <button mat-button color="primary" routerLink="/signin" i18n>Sign-in</button>
    </div>
  </div>
</div>
