<div class="row">
  <div class="col mnw-65">
    <div class="mb-5">
      <h2 class="pb-2" i18n>Your subdomains</h2>
      <p class="opacity-70" i18n>Here, you can find your subdomains.</p>
    </div>

    <app-subdomain-list-feature></app-subdomain-list-feature>

    <div class="mt-5">
      <h2 class="pb-2 mt-0" i18n>New subdomain</h2>
      <p class="opacity-70" i18n>Here, you can add a new subdomain.</p>
    </div>
    <app-subdomain-add-feature></app-subdomain-add-feature>
  </div>
  <div class="col pt-4">
    <div class="text-center">
      <img src="../../../../assets/img/banner-12.svg" width="200" alt="Alunea"/>
    </div>


    <div class="mt-5 mb-5 text-center">
      <h2 class="pb-2" i18n>Need help ?</h2>
      <p class="opacity-70" i18n>Here, you'll find answers to common questions about subdomains. If you have a question that's not listed below, feel free to reach out to us for assistance.</p>
    </div>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title i18n>
            What is a subdomain?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="opacity-70" i18n>
          A subdomain in Alunea is a custom domain extension that is exclusively owned by the user who creates it. It serves as a personalized address for creating aliases and organizing email correspondence.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title i18n>
            What happens if I delete a subdomain?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="opacity-70" i18n>
          Deleting a subdomain is irreversible. All aliases associated with the subdomain will be removed, and the subdomain itself cannot be recreated. Please ensure that you no longer need the subdomain before proceeding with deletion.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title i18n>
            How does a subdomain work?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="opacity-70" i18n>
          Once created, a subdomain acts as an extension of Alunea's main domains, allowing users to create aliases on their custom subdomains. These aliases can be used to receive emails and organize communication effectively.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title i18n>
            What happens if I enable/disable a subdomain?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="opacity-70" i18n>
          Enabling a subdomain allows you to create aliases on it, enabling the forwarding of emails sent to these aliases to your mailboxes. Disabling a subdomain prevents the creation of new aliases on it, and any existing aliases associated with the disabled subdomain will no longer forward emails to your mailboxes. However, disabling a subdomain does not delete existing aliases, and they can still be managed when the subdomain is re-enabled.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title i18n>
            Can I mark a subdomain as a favorite?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="opacity-70" i18n>
          Certainly. You can do it on the settings page.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title i18n>
            What does it mean to mark a subdomain as favorite?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="opacity-70" i18n>
          Marking a subdomain as favorite ensures it's automatically chosen when adding a new alias, enhancing convenience.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title i18n>
            What does the catch-all domain function do?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="opacity-70" i18n>
          This function allows for the automatic creation of mailbox aliases for the given domain. In other words, if an email is sent to a mailbox alias that does not exist in the system, it will be created automatically.
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
