<div class="row">
  <div class="col text-center" i18n>
    Sign in
  </div>
</div>
<form [formGroup]="signinForm" (ngSubmit)="onSigninFormSubmit()">
  <div class="row mt-3">
    <mat-form-field>
      <mat-label i18n>Email</mat-label>
      <input type="email" matInput [formControl]="emailFormControl">
      @if (
        (emailFormControl.hasError('email') || emailFormControl.hasError('pattern')) &&
        !emailFormControl.hasError('required')
      ) {
      <mat-error i18n>Please enter a valid <strong>email</strong> address</mat-error>
      }
      @if (emailFormControl.hasError('required')) {
      <mat-error i18n>Please enter an <strong>email</strong></mat-error>
      }
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field>
      <mat-label i18n>Password</mat-label>
      <input type="password" matInput [formControl]="passwordFormControl">
      @if (passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('required')) {
      <mat-error i18n><strong>Password</strong> must be at least 8 characters long</mat-error>
      }
      @if (passwordFormControl.hasError('maxlength') && !passwordFormControl.hasError('required')) {
      <mat-error i18n><strong>Password</strong> must not exceed 100 characters in length</mat-error>
      }
      @if (passwordFormControl.hasError('required')) {
      <mat-error i18n>Please enter a <strong>password</strong></mat-error>
      }
    </mat-form-field>
  </div>
  <div class="row mt-3">
    <div class="col">
      <button mat-flat-button color="primary" type="submit" class="w-100" [disabled]="isSubmitButtonDisabled" i18n>Sign in</button>
    </div>
  </div>
</form>
<div class="row mt-3 text-center justify-content-center">
  <div class="col d-flex align-items-center justify-content-center">
    <div i18n>Don't have an account ?</div>
    <div class="ms-2">
      <button mat-button color="primary" routerLink="/signup" i18n>Sign up</button>
    </div>
  </div>
</div>
<div class="row mt-3 text-center justify-content-center">
  <div class="col d-flex align-items-center justify-content-center">
    <div i18n>Forgot password ?</div>
    <div class="ms-2">
      <button mat-button color="primary" routerLink="/user-password-reset" i18n>Restore</button>
    </div>
  </div>
</div>

