<div class="row">
  <div class="col">
    <h1 class="fw-bold" i18n>
      About Us
    </h1>
  </div>
</div>
<div class="row">
  <div class="col d-flex justify-content-center align-content-center">
    <img src="../../../../assets/img/logo.png" alt="Alunea" width="300"/>
  </div>
</div>
<div class="row pt-5">
  <div class="col">
    <ng-container i18n>
      Welcome to Alunea, the fortress of privacy in the digital realm. In a world where online privacy is increasingly under threat, we are steadfast in our dedication to safeguarding your personal data. At Alunea, we champion freedom of information and transparency, empowering users to take control of their digital lives. Our platform offers unrivaled protection for your online data, ensuring that your sensitive information remains confidential and secure. Join us on our mission to uphold digital rights and champion online privacy. With Alunea, your privacy is our priority.
    </ng-container>
  </div>
</div>
