@media only screen and (min-width: 768px) {
  .signup-feature-container {
    width: 35%;
    padding: 3rem;
  }
}

@media only screen and (max-width: 767px) {
  .signup-feature-container {
    width: 90%;
    padding: 0.25rem;
  }
}
