<title i18n>Alunea - Protect your email</title>
<!-- Open Graph meta tags -->
<meta property="og:title" i18n-content content="Alunea - Protect your email">
<meta property="og:description" i18n-content content="Get an alias for your email address and safeguard your personal information.">
<meta property="og:image" content="https://silvermail.me/assets/img/logo-meta.png">
<meta property="og:url" content="https://silvermail.me">
<meta property="og:type" content="website">

<!-- Twitter Card meta tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" i18n-content content="Alunea - Protect your email">
<meta name="twitter:description" i18n-content content="Get an alias for your email address and safeguard your personal information.">
<meta name="twitter:image" content="https://silvermail.me/assets/img/logo-meta.png">
<router-outlet></router-outlet>
