<div class="row">
  <div class="col">
    <h1 class="fw-bold" i18n>
      Terms of Service
    </h1>

    <ul>
      <li i18n>
        Introduction: Welcome to Alunea! By accessing or using our services, you agree to abide by these Terms of Service.
      </li>
      <li i18n>
        No Liability: Alunea operates on the principle of user responsibility. We do not assume any liability for the content of emails, attachments, or any data transmitted or stored using our platform.
      </li>
      <li i18n>
        Use at Your Own Risk: Your use of Alunea is at your sole risk. We do not warrant that our services will be uninterrupted, secure, or error-free.
      </li>
      <li i18n>
        Content Ownership: You retain ownership of all content transmitted or stored using Alunea. We do not claim ownership over any user-generated content.
      </li>
      <li i18n>
        Third-Party Links: Alunea may contain links to third-party websites or services. We do not endorse or assume responsibility for the content, privacy policies, or practices of any third-party sites.
      </li>
      <li i18n>
        No Warranty: Alunea provides its services on an "as is" and "as available" basis. We make no warranties, expressed or implied, regarding the quality, accuracy, or reliability of our services.
      </li>
      <li i18n>
        Limitation of Liability: In no event shall Alunea be liable for any indirect, incidental, special, consequential, or punitive damages, including but not limited to loss of profits, data, or goodwill.
      </li>
      <li i18n>
        Changes to Terms: Alunea reserves the right to modify or revise these Terms of Service at any time. Continued use of our services constitutes acceptance of any changes.
      </li>
    </ul>

    <ng-container i18n>
      By using Alunea, you acknowledge that you have read, understood, and agree to be bound by these Terms of Service.
    </ng-container>

    <br />
    <br />
    <ng-container i18n>
      If you have any questions or concerns about these Terms of Service, please contact us at
    </ng-container>
    <a mat-button color="primary" href="mailto:support&#64;SilverMail.me" class="mb-1">support&#64;SilverMail.me</a>

  </div>
</div>
