<div class="row">
    <div class="col d-flex justify-content-center">
        <div>
            <h1 class="fw-bold" i18n>
                Oops! Looks like you're lost ;)
            </h1>
            <div>
                <p i18n>Don't worry, even the best explorers take wrong turns sometimes.</p>
                <p i18n>But hey, at least you've stumbled upon our cozy 404 page!</p>
                <p>
                    <ng-container i18n>Feel free to take a moment to reflect on your journey, or you can click</ng-container>
                    <button mat-button type="button" color="primary" routerLink="/" i18n>here</button>
                    <ng-container i18n>to find your way back home.</ng-container>
                </p>
                <p i18n>Remember, getting lost is just another way of exploring! ;)</p>
            </div>
        </div>
    </div>
</div>





