<div class="row">
  <div class="col">
    <h1 class="fw-bold" i18n>
      Contacts
    </h1>

    <ng-container i18n>
      Thank you for your interest in Alunea!<br />
      If you have any questions, concerns, or feedback, please don't hesitate to reach out to us.
      Our dedicated support team is here to assist you.
    </ng-container>

    <br />
    <br />
    <br />
    <br />

    <strong i18n>Contact Information:</strong>
    <br />
    <ng-container i18n>Email</ng-container>:
    <a mat-button color="primary" href="mailto:support&#64;silvermail.me" class="mb-1">support&#64;silvermail.me</a>
    <br />
    <ng-container i18n>Reddit</ng-container>:
    <a mat-button color="primary" href="https://www.reddit.com/r/Alunea/" class="mb-1">Alunea</a>



    <br />
    <br />
    <br />
    <ng-container i18n>
      Feel free to contact us via email.
      We strive to respond to all inquiries promptly and provide the best possible assistance to our users.
    </ng-container>
    <br />
    <br />

    <ng-container i18n>
      Thank you for choosing Alunea! We look forward to hearing from you.
    </ng-container>

  </div>
</div>
