<form [formGroup]="passwordChangeForm">
  <div class="row">
    <div class="col">
      <mat-form-field class="w-100">
        <mat-label i18n>Current password</mat-label>
        <input type="password" matInput [formControl]="currentPasswordFormControl">
        @if (currentPasswordFormControl.hasError('minlength') && !currentPasswordFormControl.hasError('required')) {
        <mat-error i18n><strong>Password</strong> must be at least 8 characters long</mat-error>
        }
        @if (currentPasswordFormControl.hasError('maxlength') && !currentPasswordFormControl.hasError('required')) {
        <mat-error i18n><strong>Password</strong> must not exceed 100 characters in length</mat-error>
        }
        @if (currentPasswordFormControl.hasError('required')) {
        <mat-error i18n>Please enter a <strong>password</strong></mat-error>
        }
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="w-100">
        <mat-label i18n>New password</mat-label>
        <input type="password" matInput [formControl]="newPasswordFormControl">
        @if (newPasswordFormControl.hasError('minlength') && !newPasswordFormControl.hasError('required')) {
        <mat-error i18n><strong>Password</strong> must be at least 8 characters long</mat-error>
        }
        @if (newPasswordFormControl.hasError('maxlength') && !newPasswordFormControl.hasError('required')) {
        <mat-error i18n><strong>Password</strong> must not exceed 100 characters in length</mat-error>
        }
        @if (newPasswordFormControl.hasError('required')) {
        <mat-error i18n>Please enter a <strong>password</strong></mat-error>
        }
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-end">
      <button mat-flat-button type="button" color="primary" (click)="onPasswordChangeFormSubmit()" [disabled]="isSubmitButtonDisabled" i18n>Change</button>
    </div>
  </div>
</form>
